body{
  background: black;
  
}
h1{
  color:aliceblue;
  align-items:center;
  text-align: center;
}
h2{
  color:aliceblue;
  align-items:center;
  text-align: center;
}
.stopwatch{
  color:aliceblue;
  font-size: 3rem;
  justify-content: center;
  text-align: center;
  height: inherit;
}
button{
  background:black;
  color:aliceblue;
  border-radius: 55px;
  border:black;
  font-size: 1.5rem;
  padding: 10px 20px;
  display: inline-block;
  margin: 0 auto;
  position: relative;
}
button:hover{
  background:aliceblue;
  color:black;
  transition:0.75s;
}